@font-face {
  font-family: pixelmania;
  src: url(../src//Fonts/Pixelmania.ttf)
}

@font-face {
  font-family: gameover;
  src: url(../src//Fonts/game_over.ttf)
}

body {
  background-image: url(../src/images/retro_bg.jpg);
  background-size: cover;
  color: aliceblue;
  
}

.nav-link {
  text-decoration: none;
  color: #FF05AD !important;
}

.navHome {
  animation : fadeInTopLeft;
  animation-duration: 2s;
  
}

.navAbout {
  animation: zoomIn;
  animation-duration: 2s;
}

.navContact {
  animation: rubberBand;
  animation-duration: 2s;
}

.navProjects {
  animation: zoomInRight;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

.card-img {
  height: 400px;
}

.card {
  padding: 5px;
}

.container {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}